@tailwind base;
@tailwind components;
@tailwind utilities;

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
        background: #32292F;
}
    
.bg-secondary {
        background: #705D56;
}
    
.bg-accent {
        background: #705D56;
}
    
.text-accent {
        color: #70ABAF;
} 

nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #70ABAF;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500
}

/* hero */
h1 {
    font-family: 'Rubik', sans-serif;
    line-height: 1.0 !important;
}